           
body {
    padding-bottom: auto;
}

h3 {
  text-align: center;
}

.button {
        transition-duration: 0.4s;
        background-color: #81cbd4;
        margin: auto;
        display: block;
        margin-bottom: 20px;
        align-content: center;
    }

    .button:hover {
    background-color: #09666e; /* Green */
    color: white;
    }
    .center {
    margin: auto;
    display: block;
    width: 40%;
    background-color: rgb(225, 238, 238);
    border: 3px solid #f6f8f4;
    padding: 10px 20px 10px 40px;
    justify-content: center;

    }

    .input{
        margin: auto;
        display: block;
        margin-bottom: 20px;
        align-content: center;
    }

    .input-w label {

        height: 35px;
        flex: 0 0 0px;
        margin-left: 50px;
        align-content: right;
        width: 400px;  
    }

    .input-w input{
        height: 35px;
        flex: 0 0 0px;
        margin-left: 50px;
        align-content: right;
        width: 400px;
        margin-bottom:10px;
    }
